
.yinbiao{font-family:Lucida Sans Unicode;}
.duyin{font-family:Lucida Sans Unicode;}

.word-duyin{display:none;font-family:Lucida Sans Unicode;font-size: x-large;}
.word-shiyi{display:none;font-size: x-large;}
.word-danci{font-size: xx-large;}

.footer{ text-align:center; color:#1d3557;}
.footer a{ text-decoration:none; color:#1d3557; }
.btn{ background-color:#d8e2dc; border-radius:15px; text-decoration:none;font-size: x-large; width:200px ; height:40px; text-align:center; margin:0 auto;}
.btn a{ text-decoration:none; color:#457b9d;}


.catogary{ text-align:center; color:#1d3557;}
.catogary a{ text-decoration:none; color:#1d3557; font-size: xx-large; }
.line1{ background-color:#f8edeb;}
.line2{ background-color:#d8e2dc;}
.biaoti{ background-color:#ffb5a7; font-size:larger; font-weight:bold; color:#fff; padding-bottom:5px; padding-top:5px;}
